body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  text-align: center;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1000px;
}

.welcome {
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
}

.countdown {
  color: #00ffcc;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 0 0 10px #000;
}

.game-link-box button {
  padding: 15px 35px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: gray;
  color: white;
  cursor: not-allowed;
  margin-bottom: 40px;
  transition: 0.3s;
}

.images-section {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.img-box {
  width: 140px;
  height: 140px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #111, #000);
  border: 3px solid gold;
  box-shadow: 0 0 20px gold;
  transition: 0.3s;
}

.img-box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 35px orange;
}

.img-box img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.gift-text {
  color: white;
  font-size: 24px;
  margin-top: 15px;
}
